{% extends 'base.html.twig' %}

{% block title %}Project status page{% endblock %}

{% block body %}
    {% for error in app.flashes('error') %}
        {{ error }}
    {% endfor %}
    <div id="project-content">
        <div class="w-50 container-fluid students-container">
            <div class="text-center">
                <h3>Project status page</h3>
                <div class="d-grid gap-1">
                    <div class="ms-3 p-1">Project: <b>{{ project.name }}</b></div>
                    <div class="ms-3 p-1">Number of groups: <b>{{ project.studentGroups|length }}</b></div>
                    <div class="ms-3 p-1">Students per group: <b>{{ project.maxStudentsPerGroup }}</b></div>
                </div>
            </div>
            <h3>Students</h3>
            <table class="table table-dark table-hover text-center">
                <thead>
                    <tr>
                        <td>Student</td>
                        <td>Group</td>
                        <td>Actions</td>
                    <tr>
                    <tbody class="table-light">
                    {% if project.students is not empty %}
                        {% for student in project.students %}
                            <tr>
                                <td >{{student.fullname}}</td>
                                <td>
                                {% if groupPositions is not empty and student.studentGroup %}
                                    Group #{{groupPositions[student.studentGroup.id]}}
                                {% else %}
                                    -
                                {% endif %}
                                </td>
                                <td>{{ include('student/_delete_form.html.twig', {'student': student, 'project_id': project.id} ) }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="text-center" colspan=3>No students.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </thead>
            </table>
            <a id='add-student-to-project' class="btn btn-primary my-3" href={{path('app_student_new', {'project': project.id})}}>Add new Student</a>
        </div>
        <div class="w-50 container-fluid groups-container">
            <h3>Groups</h3>
            <div class="alert alert-danger d-none" role="alert">
            </div>
            <div class="alert alert-success d-none" role="alert">
            </div>
            <div class="row">

            {% set groupsCounter = 1 %}
            {% for group in projectGroups %}
                <div class="col-6">
                {% if group.students|length == project.maxStudentsPerGroup %}
                    <div class="alert alert-dark" role="alert">
                        Group #{{ groupsCounter }} is full.
                    </div>
                {% endif %}
                <table class="table table-dark table-hover" data-group-id='{{group.id}}'>
                    <thead>
                        <tr>
                            <td class="text-center">Group #{{ groupsCounter }}</td>
                        <tr>
                    </thead>
                    <tbody class="table-light">
                        {% set studentsCounter = 1 %}
                        {% for student in group.students %}
                            <tr>
                                <td class="text-center">
                                    {{ student.fullname }} 
                                </td>
                            </tr>
                            {% set studentsCounter = studentsCounter + 1 %}
                        {% endfor %}
                        {% if studentsCounter <= project.maxStudentsPerGroup %}
                            {% for i in range(studentsCounter, project.maxStudentsPerGroup) %}
                                <tr>
                                    <td class="text-center">
                                        <select class="form-select">
                                            <option selected="true" disabled="disabled">
                                                Assign a Student
                                            </option>
                                            {% for student in studentsWithoutGroup %}
                                                <option value="{{student.id}}">{{student.fullname}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                </div>
            {% set groupsCounter = groupsCounter + 1 %}
            {% endfor %}
            </div>
            <a class='btn btn-dark mt-3' href="{{ path('app_project_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const refreshInterval = 10000; // ms

        setInterval(refreshProjectStatus, refreshInterval);
    
        function refreshProjectStatus()
        {
            fetch(window.location.href, {
                method: 'GET',
            }).then(response => response.text())
            .then(function (html) {
    
                const newContentStudents = $(html).find('.students-container').html();
                const newContentGroups = $(html).find('.groups-container').html();
                $('.students-container').html(newContentStudents);
                $('.groups-container').html(newContentGroups);
            });
        }
    </script>
{% endblock %}
